<div class="card-header bg-primary">
    <h5 class="gns-text-w"> Notebooks </h5>
</div>

<div class="card-body text-left">
    <h5 class="card-title text-center">
        Notebook Management
        <p class="small text-muted"> Add, edit, or delete your notes </p>
    </h5>
    <hr class="gns-hr-separator gns-color-primary" />
    <div class="container">
        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="clearfix">
                    <div class="float-left">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Type here..."
                                [(ngModel)]="searchTerm" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                    (click)="search(searchTerm)">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="float-right">
                        <a class="btn btn-primary" style="margin-top: 5px" [routerLink]="['/notebooks', '0', 'edit']">
                            New
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <br>
        <div fxLayout="row">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <div class="float-right">
                <a class="btn btn-primary" style="margin-top: 5px" [routerLink]="['/notebooks', '0', 'edit']">
                    New
                </a>
            </div>
          </div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="description">
                    <th class="gns-table-header" mat-header-cell mat-sort-header *matHeaderCellDef> Description</th>
                    <td mat-cell *matCellDef="let nb" data-label="description">
                        <a class="gns-overlay" [routerLink]="['/notebooks', nb.id]">
                            {{ nb.description }} <br>
                            <span class="small text-muted">
                                {{ nb.noteId }} | {{ nb.createdBy }}
                            </span>
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="note">
                    <th class="gns-table-header" mat-header-cell mat-sort-header *matHeaderCellDef> Note </th>
                    <td mat-cell data-label="note" *matCellDef="let nb"> {{ nb.note | shrink: 20 }} </td>
                </ng-container>

                <ng-container matColumnDef="latitude">
                    <th class="gns-table-header" mat-header-cell mat-sort-header *matHeaderCellDef> Latitude </th>
                    <td class="text-success" data-label="latitude" mat-cell *matCellDef="let nb">
                        {{ nb.latitude | number: '1.8-8' }} </td>
                </ng-container>

                <ng-container matColumnDef="longitude">
                    <th class="gns-table-header" mat-header-cell mat-sort-header *matHeaderCellDef> Longitude </th>
                    <td class="text-info" data-label="longitude" mat-cell *matCellDef="let nb">
                        {{ nb.longitude | number: '1.8-8' }} </td>
                </ng-container>

                <ng-container matColumnDef="gnsDate">
                    <th class="gns-table-header" mat-header-cell mat-sort-header *matHeaderCellDef> Last Updated</th>
                    <td mat-cell data-label="last updated" *matCellDef="let nb"> {{ nb.gnsDate | date: 'medium' }} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th class="gns-table-header" mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell data-label="actions" *matCellDef="let nb">
                        <a class="btn btn-link btn-sm"
                            [routerLink]="['/notebooks', nb.id, 'edit']"> edit </a> |
                        <a class="btn btn-link btn-sm"
                            (click)="onDelete(nb)" [routerLink]>
                            del
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
                <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
        <br>
        <div *ngIf="loading" class="d-flex align-items-center">
            <strong>Loading...</strong>
            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
          </div>
        <div *ngIf="!notebooks && !loading" class="alert alert-info" role="alert">
            No notebook info available to display! Add your note by click on the `+` button.
        </div>
        <div *ngIf="errorMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ errorMsg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>