<div class="card-header bg-primary">
    <h5 class="gns-text-w"> Notebooks </h5>
</div>

<div class="card-body text-left">
    <h5 class="card-title text-center">
        Notebook Detail
        <br>
        <span class="small text-muted">
            {{ formMode == 'add'? 'Add': 'Edit' }} your note here
        </span>
    </h5>
    <hr class="gns-hr-separator gns-color-primary" />
    <div class="container">
        <form [formGroup]="form" novalidate="novalidate" autocomplete="off">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="code" class="col-sm-4 col-form-label">Code</label>
                        <div class="col-sm-8 col-form-label">
                            <span class="text-muted">{{ form.value?.noteId }}</span>
                            <span [hidden]="form.value?.noteId" class="badge badge-secondary"> Not
                                available
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="gnsDate" class="col-sm-4 col-form-label">Last Updated</label>
                        <div class="col-sm-8 col-form-label">
                            <span class="text-muted">{{ form.value?.gnsDate | date: 'medium'}}</span>
                            <span [hidden]="form.value?.gnsDate" class="badge badge-secondary"> Not
                                available
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="latitude" class="col-sm-4 col-form-label">Latitude</label>
                        <div class="col-sm-8 col-form-label">
                            <span class="text-success">{{ form.value?.latitude | number: '1.8-8' }}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="longitude" class="col-sm-4 col-form-label">Longitude</label>
                        <div class="col-sm-8 col-form-label">
                            <span class="text-info">{{ form.value?.longitude | number: '1.8-8'}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="createdBy" class="col-md-2 col-form-label">Author</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="createdBy"
                        placeholder="John Smith" formControlName="createdBy" />
                    <span class="gns-help-block" *ngIf="errorFields?.createdBy">
                        {{ errorFields?.createdBy }}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-md-2 col-form-label">Description</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="description"
                        placeholder="Title your note here..." formControlName="description" />
                    <span class="gns-help-block" *ngIf="errorFields?.description">
                        {{ errorFields?.description }}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label for="note" class="col-md-2 col-form-label">Note</label>
                <div class="col-md-10">
                    <textarea class="form-control" name="note" id="note" rows="3"
                        placeholder="Enter your note here..." formControlName="note">
                    </textarea>
                    <span class="gns-help-block" *ngIf="errorFields?.note">
                        {{ errorFields?.note }}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <button type="submit" value="submit" class="btn btn-outline-primary"
                        [disabled]="form.invalid || loading" (click)="submit()">
                        <span [hidden]="loading">{{ formMode == 'add'? 'Save': 'Edit' }}</span>
                        <span [hidden]="!loading">
                            {{ formMode == 'add'? 'Saving': 'Editing' }}... &nbsp;
                            <i class="fa fa-spinner fa-spin"></i>
                        </span>
                    </button>
                    <a class="btn btn-outline-secondary gns-btn-margin-left"
                        [routerLink]="['/notebooks']">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="errorMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ errorMsg }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="gns-success-feedback" *ngIf="!loading && !!submitted">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done, {{ this.form.value?.description }}!</h4>
            <p>Aww yay! Your note has been sent successfully.
                <a class="alert-link" [routerLink]="['/notebooks', 0, 'edit']"> [Add more |</a>
                <a class="alert-link" [routerLink]="['/notebooks']"> Back]</a>
            </p>
        </div>
    </div>
</div>